.cardName {
  color: white;
  text-align: center;
  background-color: rgba(59, 59, 59, 0.5);
  font-size: 2rem;
  padding: 0.5rem;
}

.rarityLine {
    min-width: 100%;
    min-height: 0.5rem;
}

.legendary {
    background-color: orange;
}

.epic {
    background-color: rgb(170, 0, 170);
}

.rare {
    background-color: rgb(66, 66, 255);
}

.uncommon {
    background-color: rgb(0, 255, 0);
}

.common {
    background-color: rgb(156, 156, 156);
}

.icon {
    background-color: turquoise;
}

.marvel {
    background-color: red;
}

.gamingLegends {
    background-color: rgb(50, 26, 65);
}

.starWars {
    background-color: black;
}

.dc {
    background-color: rgb(2, 2, 92);
}

.slurp {
    background-color: rgb(0, 181, 194);
}

.shadow {
    background-color: black;
}

.lava {
    background-color: rgb(255, 72, 0);
}

.frozen {
    background-color: rgb(136, 136, 250);
}

.dark {
    background-color: rgb(170, 0, 105);
}

.cardPrice {
  color: white;
  font-size: 2rem;
}

.cardImg {
  max-width: 15rem;
}

.vbucksLogo {
  max-width: 2rem;
}

.vbucksGroup {
  display: flex;
  justify-content: end;
  background-color: black;
}

.bottomContainer {
    min-width: 100%;
}

.listItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.699);
  min-width: 25rem;
  max-width: 25rem;
  max-height: 25rem;
}
