

.groupTitle {
  composes: mainTitle from "../ImgCarousel/ImgCarousel.module.css";
  font-size: 3rem;
  background-color: #003cff;
}

.itemList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    justify-items: center;
    gap: 1rem;
    list-style: none;
    margin: 2rem;
}


