.bubble {
  min-width: 2rem;
  min-height: 2rem;
  border-radius: 50%;
  border: 5px solid #2a095f;
  background-color: #3d02bd;
  transition: background-color 5s;
}

.selected {
    background-color: rgb(0, 255, 255);
}
