.uiContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.616);
}

.carouselContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: hidden;
  max-width: 50rem;
}

.carouselList {
  display: flex;
  position: relative;
  transition: right, 0.5s;
}

.left {
  border: none;
  font-size: 5rem;
  padding: 3rem;
  border-radius: 15px;
  background-color: #3d02bd;
  border: 10px solid #2a095f;
  color: rgb(0, 255, 255);
  transition:
    background-color 0.1s,
    color 0.1s;
}

.left:hover {
  background-color: rgba(0, 0, 0, 0.616);
  color: white;
}

.right {
  composes: left;
}

.componentContainer {
  display: flex;
  flex-direction: column;
}

.mainTitle {
  text-align: center;
  padding: 1rem;
  font-size: 5rem;
  color: white;
  background-color: #3d02bd;
}

.bubbleNav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.loading {
  font-size: 5rem;
}

.errorMsg {
  font-size: 5rem;
}