.cartTitle {
  composes: groupTitle from "../TodayShop/CardGroup.module.css";
}

.total {
  composes: groupTitle from "../TodayShop/CardGroup.module.css";
}

.totalVBucksImg {
  max-width: 2.5rem;
}

.cartEmpty {
  text-align: center;
  font-size: 5rem;
  padding: 2rem;
  min-height: 100vh;
}


.cartList {
  display: grid;
  margin: 2% 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(26, 26, 26, 0.781);
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(25rem, 1fr));
  row-gap: 50px;
  column-gap: 50px;
  min-height: 100vh;
}

.listEmpty {
    min-height: 100vh;
}
