.mapTitle {
    composes: mainTitle from "../ImgCarousel/ImgCarousel.module.css";
}

.loading {
    composes: loading from "../ImgCarousel/ImgCarousel.module.css";
}

.error {
    composes: errorMsg from "../ImgCarousel/ImgCarousel.module.css";
}