:root {
    --fortnite-blue: #6DB8FA;
}


@font-face {
    font-family: FortniteFont;
    src: url("./assets/fonts/Burbank_Big_Fortnite_Game_Like_Typeface_Font_Family_\(Fontmirror\)/Burbank Big Condensed Black 700.ttf") format("truetype");
}

html {
    font-family: FortniteFont;
}

html, 
body, 
p,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol, 
header,
section, 
footer, 
article, 
aside {
    padding: 0; 
    margin: 0; 
}

